*.log
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

libs/iqrf/cdc-uart/jssc-examples/versions/1.0.0/target/
libs/iqrf/cdc-uart/hdlc-framing-v1/versions/1.0.0/target/
libs/iqrf/cdc-uart/hdlc-framing-v2/versions/1.0.0/target/

libs/iqrf/udp/judp-examples/versions/1.0.0/target/

libs/iqrf/cdc-iqrf/jlibcdc/versions/1.0.0/target/
libs/iqrf/cdc-iqrf/jlibcdc-examples/versions/1.0.0/target/

libs/raspberry/io/jlibrpi-io/versions/1.0.0/target/
libs/raspberry/io/jlibrpi-io-examples/versions/1.0.0/target/
libs/raspberry/spi/jlibrpi-spi/versions/1.0.0/target/
libs/raspberry/spi/jlibrpi-spi-iqrf/versions/1.0.0/target/
libs/raspberry/spi/jlibrpi-spi-iqrf-examples/versions/1.0.0/target/

simply/simply-asynchrony/versions/1.0.0/target/
simply/simply-core/versions/1.1.0/target/
simply/simply-iqrf/versions/1.0.0/target/
simply/simply-iqrf/versions/2.0.0/target/
simply/simply-iqrf-dpa/versions/1.1.0/target/
simply/simply-iqrf-dpa/versions/2.0.0/target/
simply/simply-iqrf-dpa-v201/versions/1.0.0/target/
simply/simply-iqrf-dpa-v201-examples/versions/1.0.0/target/
simply/simply-iqrf-dpa-v210/versions/1.0.0/target/
simply/simply-iqrf-dpa-v210-examples/versions/1.0.0/target/
simply/simply-network-spi/versions/1.0.0/target/
simply/simply-network-udp/versions/1.0.0/target/
simply/simply-network-usbcdc/versions/1.0.1/target/
simply/simply-network-serial-v1/versions/1.0.0/target/
simply/simply-network-serial-v2/versions/1.0.0/target/

