*.log
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

libs/clouds/cloud-iqrf-examples/target

libs/iqrf/cdc-uart/jssc-examples/versions/1.0.0/target/
libs/iqrf/cdc-uart/hdlc-framing-v1/versions/1.0.0/target/
libs/iqrf/cdc-uart/hdlc-framing-v2/versions/1.0.0/target/

libs/iqrf/udp/judp-examples/versions/1.0.0/target/

libs/iqrf/cdc-iqrf/jlibcdc/versions/1.0.0/target/
libs/iqrf/cdc-iqrf/jlibcdc-examples/versions/1.0.0/target/

libs/raspberry/io/jlibrpi-io/versions/1.0.0/target/
libs/raspberry/io/jlibrpi-io-examples/versions/1.0.0/target/
libs/raspberry/spi/jlibrpi-spi/versions/1.0.0/target/
libs/raspberry/spi/jlibrpi-spi-iqrf/versions/1.0.0/target/
libs/raspberry/spi/jlibrpi-spi-iqrf-examples/versions/1.0.0/target/

simply/simply-asynchrony/versions/1.0.0/target/
simply/simply-core/versions/1.1.0/target/
simply/simply-iqrf/versions/1.0.0/target/
simply/simply-iqrf/versions/2.0.0/target/
simply/simply-iqrf-dpa/versions/1.1.0/target/
simply/simply-iqrf-dpa/versions/2.0.0/target/
simply/simply-iqrf-dpa-v201/versions/1.0.0/target/
simply/simply-iqrf-dpa-v201-examples/versions/1.0.0/target/
simply/simply-iqrf-dpa-v210/versions/1.0.0/target/
simply/simply-iqrf-dpa-v210-examples/versions/1.0.0/target/
simply/simply-network-spi/versions/1.0.0/target/
simply/simply-network-udp/versions/1.0.0/target/
simply/simply-network-usbcdc/versions/1.0.1/target/
simply/simply-network-serial-v1/versions/1.0.0/target/
simply/simply-network-serial-v2/versions/1.0.0/target/

/simply/simply-iqrf-dpa-v210/target/
/simply/simply-iqrf-dpa-v210-examples/target/
/simply/simply-iqrf-dpa/target/
/simply/simply-iqrf-dpa-v201/target/
/simply/simply-iqrf-dpa-v201-examples/target/
/simply/simply-core/target/
/simply/simply-iqrf/target/
/simply/simply-asynchrony/target/
/simply/simply-network-serial-v2/target/
/simply/simply-network-serial-v1/target/
/simply/simply-network-spi/target/
/simply/simply-network-udp/target/
/simply/simply-network-usbcdc/target/
/libs/raspberry/io/jlibrpi-io/target/
/libs/iqrf/cdc-iqrf/java/jlibcdc/target/
/libs/raspberry/spi/jlibrpi-spi-iqrf/target/
/libs/raspberry/spi/jlibrpi-spi/target/
/simply/AutoNetworkDemo/target/
/libs/iqrf/cdc-iqrf/java/jlibcdc-examples/target/
/libs/iqrf/cdc-iqrf/c/cdclibc/build/
/libs/iqrf/cdc-iqrf/c/cdclibc/dist/
/libs/iqrf/cdc-iqrf/c/cdclibc-example/build/
/libs/iqrf/cdc-iqrf/c/cdclibc-example/dist/
/libs/iqrf/cdc-iqrf/c++/cdclib-example/build/
/libs/iqrf/cdc-iqrf/c++/cdclib-example/dist/
/libs/iqrf/cdc-iqrf/c++/cdclib/build/
/libs/iqrf/cdc-iqrf/c++/cdclib/dist/
/libs/raspberry/c/io/rpi-io/build/
/libs/raspberry/c/io/rpi-io/dist/
/libs/raspberry/c/io/rpi-io-examples/build/
/libs/raspberry/c/spi/rpi-spi-iqrf/dist/
/libs/raspberry/c/spi/rpi-spi-iqrf/build/
/libs/raspberry/c/spi/rpi-spi-iqrf-examples/build/
/libs/gemalto/spi/jlibgem/nbproject/private/
/libs/gemalto/spi/jlibgem-examples/nbproject/private/
/libs/gemalto/spi/jlibgem/build/
/libs/gemalto/spi/jlibgem/dist/
/libs/gemalto/spi/jlibgem-examples/build/
/libs/gemalto/spi/jlibgem-examples/dist/
/libs/iqrf/cdc-uart/hdlc-framing-v2/target/

/libs/raspberry/java/io/jlibrpi-io/target/
/libs/raspberry/java/spi/jlibrpi-spi/target/
/libs/raspberry/java/spi/jlibrpi-spi-iqrf/target/
/libs/raspberry/java/spi/jlibrpi-spi-iqrf-examples/target/
/libs/raspberry/java/io/jlibrpi-io-examples/target/
/simply/simply-iqrf-dpa-v220/target/
/simply/simply-iqrf-dpa-v220-examples/target/
/simply/simply-iqrf-dpa-v220-examples/nb-configuration.xml
/simply/simply-core/nb-configuration.xml
/simply/simply-iqrf-dpa-v210/nb-configuration.xml
/simply/simply-iqrf-dpa-v210-examples/nb-configuration.xml
/simply/simply-iqrf-dpa-v220/nb-configuration.xml
/simply/simply-asynchrony/nb-configuration.xml
/simply/simply-iqrf/nb-configuration.xml
/simply/simply-iqrf-dpa/nb-configuration.xml
