<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40}:%msg%n</pattern>
            </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>Simply.log</file>
            <append>false</append>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40}: %msg%n</pattern>
            </encoder>
    </appender>
	
	
    <!-- core package -->
    <!-- Simply root -->
    <logger name="com.microrisc.simply.BaseNetwork" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.BaseSimply" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.ConnectedDeviceObject" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
	
    <logger name="com.microrisc.simply.HashMapResultsContainer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.SimpleDeviceObjectFactory" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.StandardServicesDeviceObject" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
	
	
    <!-- connector -->
    <logger name="com.microrisc.simply.connector.CallResultsSender" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>


    <!-- connector.response_waiting -->
    <logger name="com.microrisc.simply.connector.response_waiting.SimpleResponseWaitingConnector" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>


    <!-- Simply.protocol -->
    <logger name="com.microrisc.simply.protocol.AbstractProtocolLayer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.protocol.RequestPacketCreator" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.protocol.SimpleMessageConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.protocol.SimpleProtocolLayer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>


    <!-- Simply.protocol.mapping -->
    <logger name="com.microrisc.simply.protocol.mapping.Deserializer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.protocol.mapping.Serializer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.protocol.mapping.SimpleCallRequestToPacketMapping" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.protocol.mapping.SimplePacketToCallResponseMapping" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>


    <!-- types -->
    <logger name="com.microrisc.simply.types.StringToByteConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>



    <!-- simply.iqrf package -->
    <!-- types -->
    <logger name="com.microrisc.simply.iqrf.types.ArrayUns16Convertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.types.ArrayUns8Convertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.types.IntToUns8Convertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.types.PrimArrayUns8Convertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.types.Uns16Convertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.types.Uns8Convertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.types.VoidTypeConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>	


    <!-- iqrf.dpa package -->
    <logger name="com.microrisc.simply.iqrf.dpa.SimpleDPA_Simply" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <!-- iqrf.dpa.connector package -->
    <logger name="com.microrisc.simply.iqrf.dpa.connector.DPA_Connector" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>



    <!-- iqrf.dpa.v210 package -->

    <logger name="com.microrisc.simply.iqrf.dpa.v210.DPA_DeviceObject" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <!-- iqrf.dpa.broadcasting package -->
    <logger name="com.microrisc.simply.iqrf.dpa.v210.broadcasting.BroadcastServicesDefaultImpl" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <!-- iqrf.dpa.init package -->
    <logger name="com.microrisc.simply.iqrf.dpa.v210.init.DPA_Initializer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>


    <!-- iqrf.dpa.protocol package -->
    <logger name="com.microrisc.simply.iqrf.dpa.v210.protocol.DPA_MessageConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.protocol.DPA_ProtocolLayer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.protocol.DPA_ProtocolProperties" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>


    <!-- iqrf.dpa.types package -->
    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.AddressingInfoConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.ArrayIO_CommandConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.ArrayIO_DirectionSettingsConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.ArrayPeripheralInfoConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.BatchCommandConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.BaudRateConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.BondedDeviceConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.BondedNodesConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.DPA_AdditionalInfoConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.DPA_ParameterConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.DiscoveredNodesConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.DiscoveryParamsConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.DiscoveryResultConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
	    
    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.FRC_CommandConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
        
    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.FRC_DataConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
    
    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.FRC_ResultParser" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
    
    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.HWP_ConfigurationConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.IO_CommandConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.IO_DirectionSettingsConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
	
    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.IO_StateConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.IntegerFastQueryListConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.LED_StateConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
	
    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.NodeStatusInfoConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.OsInfoConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.PWM_ParametersConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.PeripheralEnumerationConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.PeripheralInfoConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.RemotelyBondedModuleIdConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.RoutingHopsConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.SleepInfoConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
	
    <logger name="com.microrisc.simply.iqrf.dpa.v210.types.SubDPARequestConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
        
	<logger name="com.microrisc.simply.iqrf.dpa.v210.types.ThermometerValueConvertor" level="INHERITED">
		<appender-ref ref="FILE" />
    </logger>
        
	
    <!-- com.microrisc.simply.network.usbcdc package --> 
    <logger name="com.microrisc.simply.network.usbcdc.CDCNetworkLayer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

	
    <!-- com.microrisc.simply.network.serial package --> 
    <logger name="com.microrisc.simply.network.serial.v2.SerialNetworkLayerJssc" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
    
    
    <!-- com.microrisc.simply.network.udp package --> 
    <logger name="com.microrisc.simply.network.udp.UDPNetworkLayer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.network.udp.UDPNetworkLayerMultinet" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
    
	
    <!-- com.microrisc.simply.network.spi package --> 
    <logger name="com.microrisc.simply.network.spi.SPINetworkLayer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>


    <!-- root -->
    <root level="debug">
        <!-- appender-ref ref="STDOUT" / -->
    </root>
</configuration>
