<configuration>
    
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40}:%msg%n</pattern>
            </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>Simply-${bySecond}.log</file>
            <append>false</append>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40}: %msg%n</pattern>
            </encoder>
    </appender>
    
    
    <appender name="AUTONETWORK_ALGO_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <Target>System.out</Target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>    
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    
	
    <!-- core package -->
    <!-- Simply root -->
    <logger name="com.microrisc.simply.BaseNetwork" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.BaseSimply" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.ConnectedDeviceObject" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
	
    <logger name="com.microrisc.simply.HashMapResultsContainer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.SimpleDeviceObjectFactory" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.StandardServicesDeviceObject" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
	
	
    <!-- connector -->
    <logger name="com.microrisc.simply.connector.CallResultsSender" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>


    <!-- connector.response_waiting -->
    <logger name="com.microrisc.simply.connector.response_waiting.SimpleResponseWaitingConnector" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>


    <!-- Simply.protocol -->
    <logger name="com.microrisc.simply.protocol.AbstractProtocolLayer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.protocol.RequestPacketCreator" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.protocol.SimpleMessageConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.protocol.SimpleProtocolLayer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>


    <!-- Simply.protocol.mapping -->
    <logger name="com.microrisc.simply.protocol.mapping.Deserializer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.protocol.mapping.Serializer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.protocol.mapping.SimpleCallRequestToPacketMapping" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.protocol.mapping.SimplePacketToCallResponseMapping" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>


    <!-- type convertors -->
    <logger name="com.microrisc.simply.typeconvertors.StringToByteConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>



    <!-- simply.iqrf package -->
    <!-- type convertors -->
    <logger name="com.microrisc.simply.iqrf.typeconvertors.ArrayUns16Convertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.typeconvertors.ArrayUns8Convertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.typeconvertors.IntToUns8Convertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.typeconvertors.PrimArrayUns8Convertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.typeconvertors.Uns16Convertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.typeconvertors.Uns8Convertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.typeconvertors.VoidTypeConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>	


    <!-- iqrf.dpa package -->
    <logger name="com.microrisc.simply.iqrf.dpa.SimpleDPA_Simply" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <!-- iqrf.dpa.connector package -->
    <logger name="com.microrisc.simply.iqrf.dpa.connector.DPA_Connector" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>



    <!-- iqrf.dpa.v22x package -->    
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.DPA_DeviceObject" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
    
    <!-- iqrf.dpa.v22x.autonetwork package -->
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.autonetwork.AutoNetworkAlgorithmImpl" level="INHERITED">
            <appender-ref ref="FILE" />
            <appender-ref ref="AUTONETWORK_ALGO_STDOUT" />
    </logger>
    
    <!-- iqrf.dpa.v22x.autonetwork embedded package -->
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.autonetwork.embedded.logic.NetworkBuilder" level="INHERITED">
            <appender-ref ref="FILE" />
            <appender-ref ref="AUTONETWORK_ALGO_STDOUT" />
    </logger>
 
    <!-- iqrf.dpa.v22x.autonetwork embedded package -->
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.autonetwork.embedded.logic.AutonetworkBuilderListener" level="INHERITED">
            <appender-ref ref="FILE" />
            <appender-ref ref="AUTONETWORK_ALGO_STDOUT" />
    </logger>
    
    <!-- iqrf.dpa.broadcasting package -->
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.broadcasting.BroadcastServicesDefaultImpl" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <!-- iqrf.dpa.init package -->
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.init.DPA_Initializer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
	
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.init.NodeFactory" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <!-- iqrf.dpa.protocol package -->
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.protocol.DPA_MessageConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.protocol.DPA_ProtocolLayer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.protocol.DPA_ProtocolProperties" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
    
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.protocol.ProtocolStateMachine" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
    
    
    <!-- iqrf.dpa.v22x.types package -->
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.types.FRC_ResultParser" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
    
    <!-- iqrf.dpa.v22x.typeconvertors package -->
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.AddressingInfoConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.ArrayIO_CommandConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.ArrayIO_DirectionSettingsConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.ArrayPeripheralInfoConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.BatchCommandConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.BaudRateConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.BondedDeviceConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.BondedNodesConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.DPA_AdditionalInfoConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.DPA_ParameterConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.DiscoveredNodesConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.DiscoveryParamsConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.DiscoveryResultConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
	    
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.FRC_CommandConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
        
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.FRC_DataConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
    
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.HWP_ConfigurationConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
    
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.HWP_ConfigurationByteConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.IO_CommandConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.IO_DirectionSettingsConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
	
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.IO_StateConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.IntegerFastQueryListConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.LED_StateConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
	
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.NodeStatusInfoConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.OsInfoConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.PWM_ParametersConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.PeripheralEnumerationConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.PeripheralInfoConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.RemotelyBondedModuleIdConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.RoutingHopsConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.SleepInfoConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
	
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.SubDPARequestConvertor" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
        
	<logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.ThermometerValueConvertor" level="INHERITED">
		<appender-ref ref="FILE" />
    </logger>

   <logger name="com.microrisc.simply.iqrf.dpa.v22x.typeconvertors.LoadingResultConvertor" level="INHERITED">
		<appender-ref ref="FILE" />
    </logger>
        
	
    <!-- com.microrisc.simply.network.usbcdc package --> 
    <logger name="com.microrisc.simply.network.usbcdc.CDCNetworkLayer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

	
    <!-- com.microrisc.simply.network.serial package --> 
    <logger name="com.microrisc.simply.network.serial.v2.SerialNetworkLayerJssc" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
    
    
    <!-- com.microrisc.simply.network.udp package --> 
    <logger name="com.microrisc.simply.network.udp.UDPNetworkLayer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <logger name="com.microrisc.simply.network.udp.UDPNetworkLayerMultinet" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
    
	
    <!-- com.microrisc.simply.network.spi package --> 
    <logger name="com.microrisc.simply.network.spi.SPINetworkLayer" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>
    
    
    <!-- autonetwork embedded -->
    
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.autonetwork.embedded.logic.AutonetworkStateConvertor" level="INHERITED">
       <appender-ref ref="AUTONETWORK_ALGO_STDOUT" />
    </logger>
    
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.autonetwork.embedded.logic.NetworkBuilder" level="INHERITED">
       <appender-ref ref="FILE" />
    </logger>



    <!-- load code service -->
    
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.services.node.load_code.DataPreparer" level="INHERITED">
       <appender-ref ref="FILE" />
    </logger>
    
    <logger name="com.microrisc.simply.iqrf.dpa.v22x.services.node.load_code.SimpleLoadCodeService" level="INHERITED">
       <appender-ref ref="FILE" />
    </logger>


    <!-- root -->
    <root level="debug">
        <!-- appender-ref ref="STDOUT" / -->
    </root>
</configuration>
